[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = ">=1.6.0,<2.0.0"
inquirer = ">=2.3.0,<3.0.0"
pyyaml = ">=5.0.0,<=5.1.0"
requests = ">=2.5.0,<3.0.0"
requests-toolbelt = ">=0.8.0,<1.0.0"
six = ">=1.00,<2.0.0"

[dev-packages]
nose = ">=1.00,<2.0.0"

[requires]
python_version = "3.7"
